---
interface Props {
    title: string;
    href: string;
    img: string;
}

const { href, title, img } = Astro.props;
---

<div class="item-card">
    <a href={href} class="card cover">
        <div class="img-container">
            <img class="card-img-top" src={img} alt={title}>
        </div>
        <div class="card-body">
            <h5 class="card-title">{title}</h5>
            <span class="btn btn-primary">Open</span>
        </div>
    </a>

    <div class="card page">
        <div class="card-body">
            <p class="card-text">
                <slot>{title}</slot>
            </p>
        </div>
    </div>
</div>

<style>
    .item-card {
        display: inline-flex;
        width: 36rem;
        margin: 12px;
        background-color: rgba(5, 6, 7, .2);
        border-radius: .25rem;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4), 
            -3px 2px 15px rgba(0, 0, 0, 0.15),
            inset 0px -3px 8px rgba(0, 0, 0, 0.1);
    }

    .card {
        display: block;
        width: 18rem;
        height: 23.4rem;
        word-wrap: normal;
        vertical-align: top;
        color: black;
        border-radius: .25rem;
    }

    .cover {
        z-index: 2;
    }

    .page {
        z-index: 1;
        transform: translate(0%, 0%);
        position: absolute;
        transition: transform 1s;
        text-align: justify;
    }

    .item-card:hover .cover {
        border-radius: .25rem 0 0 .25rem;
    }

    .item-card:hover .page {
        transform: translate(100%, 0%);
        border-radius: 0 .25rem .25rem 0;
    }

    @media (max-width: 768px) {
        .item-card {
            width: 18rem;
        }

        /* Disable effects on small screens */
        .item-card:hover .cover {
            border-radius: .25rem;
        }
        .item-card:hover .page {
            border-radius: .25rem;
            transform: none;
        }
    }

    a {
        text-decoration: none;
    }

    .card-title {
        height: 6.5rem;
    }

    .card-text {
        color: black;
        height: 100%;
        overflow-y: auto;
    }

    .card-img-top {
        object-fit: cover;
        height: 12rem;
        transition: transform 1s;
    }

    .img-container {
        overflow: hidden;
    }

    .item-card:hover .card-img-top {
        transform: scale(1.1);
    }
</style>
