---

const { pathname } = Astro.url;

const navItems = [
    { match: `${import.meta.env.BASE_URL}/`, label: 'Home', href: `${import.meta.env.BASE_URL}/#navbar` },
    { match: `${import.meta.env.BASE_URL}/utils/`, label: 'Utilities', href: `${import.meta.env.BASE_URL}/utils` },
    { match: `${import.meta.env.BASE_URL}/portfolio/`, label: 'Portfolio', href: `${import.meta.env.BASE_URL}/portfolio` },
];

---

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href={`${import.meta.env.BASE_URL}/#navbar`}>PonziDav</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {navItems.map((item) => (
                <a class={`nav-link ${pathname === item.match ? 'active' : ''}`} href={item.href}>
                    {item.label}
                </a>
                ))}
            </div>
        </div>
    </div>
</nav>
